node_modules/
.expo/
dist/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment variables
.env
.env.local

# Application build files
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/